ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 60px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}


ion-grid{
  height: 100%;
  text-align: center;
}

ion-row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.chat-page {     
  padding: 8% 0 0;
  margin: auto;
}

.form {    
  z-index: 1;
  max-width: 80%;
  margin: 0 auto;     
}

.profile {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 150px !important;
  width: 150px !important;
  align-self: center;
  align-content: center;
}

.btn-wrapper {
  text-align: center;
}

